asgiref==3.8.1
attrs==25.3.0
black==24.3.0
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
distlib==0.3.9
dj-database-url==2.3.0
dj-rest-auth==7.0.1
Django==5.2
django-allauth==65.7.0
django-cors-headers==4.7.0
django-debug-toolbar==5.1.0
django-environ==0.12.0
django-extensions==3.2.3
django-migrations-graph==0.1.1
django-ratelimit==4.0.0
django-redis==5.4.0
django-rest-knox==5.0.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.28.0
filelock==3.18.0
flake8==7.0.0
greenlet==3.2.1
gunicorn==23.0.0
identify==2.6.10
idna==3.10
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.7
pre-commit==3.6.2
psycopg2-binary==2.9.10
pycodestyle==2.11.1
pycparser==2.22
pyflakes==3.2.0
PyJWT==2.9.0
python-dotenv==1.1.0
python-json-logger==3.3.0
PyYAML==6.0.2
redis==5.0.1
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
sentry-sdk==2.26.1
six==1.17.0
SQLAlchemy==2.0.40
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
virtualenv==20.30.0
whitenoise==6.9.0
