{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block title %}Plans - AgapeThrift{% endblock %}

{% block extra_css %}
    {% include 'dashboard/dashboard_styles.html' %}
{% endblock %}

{% block content %}
<div class="plans-section" style="margin: 0 auto; max-width: 480px;">
    <div class="plans-title" style="margin-bottom: 24px; font-size: 1.2rem; font-weight: 600; color: #222;">Plans</div>
    <div class="plans-list">
        <div class="plan-item">
            <div class="plan-info">
                <span class="plan-name">Pre–Starter Plan</span>
                <span class="plan-price">$10/person</span>
            </div>
            <button class="subscribe-btn">Subscribe</button>
        </div>
        <div class="plan-item">
            <div class="plan-info">
                <span class="plan-name">Starter Plan</span>
                <span class="plan-price">$25/person</span>
            </div>
            <button class="subscribe-btn">Subscribe</button>
        </div>
        <div class="plan-item">
            <div class="plan-info">
                <span class="plan-name">Basic 1</span>
                <span class="plan-price">$100/person</span>
            </div>
            <button class="subscribe-btn">Subscribe</button>
        </div>
        <div class="plan-item">
            <div class="plan-info">
                <span class="plan-name">Basic 2</span>
                <span class="plan-price">$500/person</span>
            </div>
            <button class="subscribe-btn">Subscribe</button>
        </div>
        <div class="plan-item">
            <div class="plan-info">
                <span class="plan-name">Standard</span>
                <span class="plan-price">$1000/person</span>
            </div>
            <button class="subscribe-btn">Subscribe</button>
        </div>
        <div class="plan-item">
            <div class="plan-info">
                <span class="plan-name">Ultimate 1</span>
                <span class="plan-price">$2500/person</span>
            </div>
            <button class="subscribe-btn">Subscribe</button>
        </div>
        <div class="plan-item">
            <div class="plan-info">
                <span class="plan-name">Ultimate 2</span>
                <span class="plan-price">$5000/person</span>
            </div>
            <button class="subscribe-btn">Subscribe</button>
        </div>
    </div>
</div>
{% endblock %}